In [2]:
#importando os módulos necessários

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
from scipy import stats
import math

In [3]:
#abrindo os databases
D_HDI = pd.read_excel("Indicator_HDI.xlsx")
D_PVMNT = pd.read_excel("roads paved.xlsx")
D_URB = pd.read_excel("indicator EN_URB_MCTY_TL_ZS.xls.xlsx")

In [4]:
D_HDI.head()

,HDI,1980,1990,2000,2005,2006,2007,2008,2009,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,0.198,0.246,0.230,0.340,0.354,0.363,0.370,0.387,0.398
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,NaN,0.656,0.691,0.721,0.724,0.729,0.733,0.734,0.739
4,Algeria,0.454,0.551,0.624,0.667,0.673,0.680,0.686,0.691,0.698

In [38]:
D_PVMNT.head(200)

,"Roads, paved (% of total roads)",1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,23.660000,27.459429,29.300000,NaN,NaN,NaN,NaN,NaN
1,Albania,NaN,NaN,NaN,NaN,NaN,39.000000,39.000000,39.000000,39.000000,...,39.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,67.000000,70.000000,66.000000,66.699997,68.000000,68.900002,68.900002,68.900002,68.900002,...,NaN,NaN,70.199997,NaN,NaN,NaN,73.460000,74.028686,NaN,NaN
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.959999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Argentina,28.500000,28.500000,28.500000,28.600000,28.700001,29.100000,29.100000,29.500000,29.500000,...,NaN,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Armenia,99.199997,96.599998,96.699997,96.699997,97.000000,96.699997,96.699997,96.800003,96.800003,...,NaN,91.269997,90.120003,89.970001,88.978996,89.040000,90.520000,93.562622,NaN,NaN
9,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Australia,35.000000,35.700001,36.400002,37.099998,37.900002,38.599998,38.700001,NaN,38.700001,...,NaN,NaN,41.570000,NaN,NaN,42.550000,42.700000,43.450000,NaN,NaN
11,Austria,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,NaN,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
12,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,49.389999,NaN,50.602546,NaN,NaN,NaN,NaN,NaN
13,Bahamas,52.000000,53.000000,54.099998,55.099998,56.299999,57.400002,57.400002,57.400002,57.400002,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Bahrain,75.400002,75.300003,78.800003,NaN,NaN,NaN,75.800003,76.500000,76.900002,...,78.900002,79.129997,79.739106,80.312837,80.804628,81.043885,81.481481,82.121000,NaN,NaN
15,Bangladesh,NaN,7.200000,6.600000,6.900000,9.300000,7.900000,8.400000,9.500000,9.530000,...,NaN,9.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Barbados,86.800003,88.500000,90.300003,92.099998,93.900002,95.800003,95.900002,NaN,98.599998,...,98.599998,100.000000,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Belarus,NaN,95.800003,96.300003,98.000000,98.400002,98.599998,98.800003,98.199997,95.599998,...,NaN,86.400002,87.000000,88.639999,NaN,NaN,NaN,NaN,NaN,NaN
18,Belgium,NaN,81.199997,81.199997,81.199997,80.599998,80.699997,80.699997,80.699997,78.199997,...,78.199997,78.000000,78.000000,78.211998,78.208000,78.200000,78.200000,78.220000,NaN,NaN
19,Belize,NaN,NaN,NaN,NaN,NaN,NaN,19.000000,16.000000,17.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Benin,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,...,NaN,NaN,9.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Bhutan,77.099998,79.099998,77.099998,74.500000,65.199997,63.700001,60.700001,60.700001,NaN,...,NaN,62.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Bolivia,4.300000,4.400000,4.200000,4.000000,4.700000,5.500000,5.500000,5.700000,6.000000,...,6.700000,7.000000,7.342000,6.913000,6.928000,6.812000,7.885000,7.885100,NaN,NaN
24,Bosnia and Herzegovina,54.000000,54.200001,53.000000,52.599998,52.500000,52.299999,52.299999,52.299999,52.299999,...,NaN,NaN,NaN,52.299999,NaN,NaN,NaN,NaN,NaN,NaN
25,Botswana,32.000000,34.000000,19.900000,21.100000,22.200001,NaN,NaN,NaN,NaN,...,35.299999,35.139999,33.200001,32.599998,NaN,NaN,NaN,NaN,NaN,NaN
26,Brazil,9.700000,8.600000,8.600000,12.300000,8.100000,8.900000,9.300000,9.100000,9.600000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Brunei,31.400000,32.000000,32.599998,33.299999,33.900002,34.599998,NaN,34.700001,34.700001,...,NaN,NaN,79.098000,78.411000,78.025000,80.055000,81.118000,NaN,NaN,NaN
28,Bulgaria,91.599998,91.800003,91.800003,91.900002,91.900002,92.000000,92.000000,92.000000,92.099998,...,NaN,NaN,NaN,98.400002,NaN,NaN,NaN,NaN,NaN,NaN
29,Burkina Faso,16.600000,17.100000,17.600000,18.200001,18.700001,16.000000,16.000000,16.000000,16.000000,...,NaN,NaN,4.170000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Seychelles,56.900002,58.000000,59.099998,60.299999,61.500000,62.799999,80.300003,84.500000,NaN,...,NaN,96.000000,NaN,95.983936,96.015936,96.456693,96.456693,96.460000,NaN,NaN
171,Sierra Leone,10.600000,10.800000,11.000000,11.000000,11.000000,8.000000,8.000000,8.000000,8.000000,...,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,Singapore,97.099998,97.099998,97.099998,97.199997,97.199997,97.300003,97.300003,97.300003,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
173,Slovak Republic,NaN,NaN,NaN,NaN,NaN,85.800003,85.800003,86.599998,86.699997,...,87.300003,87.309998,87.309998,87.019997,87.029999,NaN,87.050000,87.060000,NaN,NaN
174,Slovenia,72.000000,74.000000,75.000000,77.000000,79.000000,80.199997,81.199997,81.699997,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
175,Solomon Islands,2.100000,2.200000,2.200000,2.300000,2.300000,2.400000,2.500000,2.500000,2.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Somalia,11.100000,11.300000,11.500000,11.800000,11.800000,11.800000,11.800000,11.800000,11.800000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,19.700001,19.700001,19.700001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Spain,NaN,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,...,NaN,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,Sri Lanka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.839996,81.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,Sudan,33.799999,33.700001,33.700001,34.500000,35.400002,36.200001,36.299999,36.299999,36.299999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,Suriname,24.000000,24.500000,26.000000,26.000000,26.000000,26.000000,26.000000,NaN,NaN,...,26.000000,26.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
182,Swaziland,NaN,NaN,NaN,NaN,28.200001,NaN,NaN,NaN,NaN,...,29.990000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,31.160000,30.510000,31.480000,31.654673,31.662705,23.580000,24.360000,NaN,NaN
184,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
185,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,93.600000,94.580000,95.150000,95.750000,92.980000,91.280000,90.250000,NaN,NaN
186,Tajikistan,71.599998,74.099998,76.699997,78.699997,80.699997,82.699997,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,8.630000,NaN,NaN,NaN,NaN,7.380000,6.670000,NaN,NaN
188,Thailand,NaN,88.400002,89.699997,92.800003,94.699997,97.400002,97.500000,97.500000,97.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Togo,21.200001,21.600000,31.000000,31.600000,31.600000,31.600000,31.600000,31.600000,31.600000,...,NaN,NaN,NaN,NaN,NaN,21.000000,NaN,NaN,NaN,NaN
191,Tonga,NaN,NaN,NaN,NaN,NaN,27.000000,27.000000,27.000000,27.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,Trinidad and Tobago,46.200001,47.099998,48.099998,49.000000,50.000000,51.000000,51.099998,51.099998,51.099998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
193,Tunisia,76.099998,75.500000,74.599998,76.000000,77.400002,78.800003,78.900002,78.900002,63.700001,...,NaN,NaN,65.800003,NaN,NaN,NaN,75.180000,75.180000,NaN,NaN
194,Turkey,NaN,NaN,NaN,NaN,NaN,23.000000,25.000000,25.000000,28.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,88.450000,88.740000,NaN,NaN
195,Turkmenistan,73.500000,75.000000,76.500000,78.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
196,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
198,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,Ukraine,93.699997,94.199997,94.599998,94.900002,94.400002,94.800003,95.000000,95.000000,96.500000,...,96.800003,96.400002,97.199997,97.419998,97.664751,97.751178,97.820000,97.820000,NaN,NaN

In [36]:
D_URB.head()

,Population in urban agglomerations of more than 1 million (% of total population),1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,Afghanistan,2.967362,NaN,NaN,NaN,NaN,3.475496,NaN,NaN,NaN,...,8.308952,NaN,NaN,NaN,NaN,11.171470,NaN,11.589061,NaN,NaN
1,Algeria,8.070706,NaN,NaN,NaN,NaN,9.069814,NaN,NaN,NaN,...,9.028841,NaN,NaN,NaN,NaN,9.740120,NaN,9.904393,NaN,NaN
2,Angola,4.378395,NaN,NaN,NaN,NaN,5.723566,NaN,NaN,NaN,...,16.263763,NaN,NaN,NaN,NaN,16.646657,NaN,22.779566,NaN,NaN
3,Argentina,38.067803,NaN,NaN,NaN,NaN,39.190134,NaN,NaN,NaN,...,38.840883,NaN,NaN,NaN,NaN,39.138179,NaN,39.095867,NaN,NaN
4,Armenia,28.797266,NaN,NaN,NaN,NaN,29.379085,NaN,NaN,NaN,...,36.130341,NaN,NaN,NaN,NaN,35.981631,NaN,35.865549,NaN,NaN

In [85]:
#separando o ano de base
D_HDI_B = D_HDI.loc[:,[ "HDI",1990]]
D_URB_B = D_URB.loc[:,["Population in urban agglomerations of more than 1 million (% of total population)",1990]]
D_PVMNT_B = D_PVMNT.loc[:,["Roads, paved (% of total roads)","1990"]]

#alterando os indices
HDI_IDX = D_HDI_B.set_index("HDI")
URB_IDX = D_URB_B.set_index("Population in urban agglomerations of more than 1 million (% of total population)")
PVMNT_IDX = D_PVMNT_B.set_index("Roads, paved (% of total roads)")

#juntando os datasets
FRST_JOIN = URB_IDX.join(PVMNT_IDX, how='inner',lsuffix='_URB',rsuffix='_PVMNT')
D_JOIN = FRST_JOIN.join(HDI_IDX,how='inner',lsuffix='_URB',rsuffix='_IDH')
D_JOIN.dropna().describe()

        1990_URB        1990   1990_IDH
count  56.000000   56.000000  56.000000
mean   24.042815   46.840691   0.596143
std    16.474811   34.221739   0.178629
min     5.728201    4.300000   0.200000
25%    13.488981   14.300000   0.435000
50%    20.448501   35.049999   0.630000
75%    30.228594   76.675001   0.764500
max    99.516732  100.000000   0.873000


# Formulação de Hipotese

 Para conduzir uma analise, é uma boa medida pensar em uma pergunta a ser respondida por ela. Tendo em vista o foco da analise no indice IDH, é preciso verificar a influencia de outras variaveis nesse fator. Para tal, foram escolhidas as variaveis estradas pavimentadas(% do total) e população em nucleos urbanos com mais de 1 milhão de pessoas(% do total). 

## Hipótese:
       
*A porcentagem de estradas pavimentadas e de população em areas urbanas influencia a taxa de crescimento do IDH?*